<app-navbar></app-navbar>

<div class="row" >
    <div class="col s8 offset-s2">
      <span>Time Elapsed </span>
      <div class="progress">
        <div class="determinate"></div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Question 3</span>
          <p>The binary system uses powers of</p>
        </div>
        <div class="card-action">
          <ul class="collection answer">
            <ul>
                <li class="collection-item" (click)="RightAnswer3()"> 2 </li>
                <li class="collection-item"> 8 </li>
                <li class="collection-item" > 16 </li>
                <li class="collection-item"> 18 </li>
            </ul>
          </ul>
        </div>
    </div>
  </div>
